.thanks-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks-message {
  font-size: 16px;
  margin-bottom: 30px;
}

.thanks-button {
  padding: 10px 40px;
  background: #8b7969;
  color: #fff;
  text-decoration: none;
}